html, body {
  margin: 0;
  padding: 0;
  background-color: #2C2C2C ;
}

canvas {
  display: block;
}

@font-face {
  font-family: Octave;
  src: url(assets/Bold.otf);
}

.textBox {
  font-family: Octave;
  font-size: 50px;
  background-color: #DC2404;
  color: #2C2C2C;
  padding: 0px;
  white-space: pre-wrap;
}
